@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
}

html{
  scroll-padding-top: 150px;
}

body{
  position: relative;
  font-family: 'Urbanist', sans-serif;
  margin: 0;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;

  z-index: 999;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

.container{
  width: 1600px;
  margin: auto;
}

.subcontainer{
  width: 85%;
  margin: auto;
}

.navbar{
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-menu li a{
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;
  padding: .5rem .5rem;
  border-radius: 999px;
  transition: all .2s ease-in-out;
}

.nav-menu li:hover a{
  background-color: #FFC533;
  color: white;
}

.nav-branding{
  width: 150px;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

@media(max-width:1600px){
  .container{
    width: 100%;
  }
}

@media(max-width:1024px) {
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
      position: fixed;
      left: -100%;
      top: 100px;
      gap: 0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }
  
  .nav-item{
      margin: 16px 0;
  }

  .nav-menu.active{
      left: 0;
  }
}

/*End of Navigation Bar*/

.subcontent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 8px 20px;
  width: 40%;
}

.featured-image{
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
}

@media screen and (max-width: 856px) {
  #eo, #fans, #jual-beli, #dana-terjamin, #laporan-penjualan, #promosi, #refund, #ramah-fans, #faq-list{
    width: 80%;
  }
}

.title{
  text-align: center;
  padding: 0 20px;
  margin: 0 auto;
}

#description{
  text-align: center;
  padding: 0 20px;
}

#feature-description{
  text-align: left;
}

/*End of Content*/

.profile-pict{
  width: fit-content;
  max-height: 300px;
  object-fit: contain;
  object-position: center;
  border-radius: 10%;

}

.profile-pict-container{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.profile-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 8px 40px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-description{
  width: 300px;
  margin-right: 20px;
  font-size: larger;
  margin-top: auto;
  margin-bottom: auto;
}

#kenapa-konseria, #tentang-kami{
  margin-top: 20px;
}

@media screen and (max-width: 856px) {
  .profile-card {
    flex-direction: column-reverse;
    width: 80%;
  }
  .profile-description{
    width: auto;
    margin-top: 10px;
  }
}

/* End of Tentang Kami */

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}
 
main aside .social-media {
  height: 100%;
  display: flex;
}
 
main aside .social-media ul {
  padding: 1rem 1rem;
  margin: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #FFC533;
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
 
main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  transition: all .1s ease-in-out;
}
 
main aside .social-media li a:hover {
  color: white;
}

footer{
  width: 100%;
  padding: 30px 0;
  background-color: #FFC533;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-content{
  margin: 0 10px;
  font-weight: 600;
  font-size: large;
}

.footer-button:hover {
  text-decoration: underline;
}

.store{
  width: 100px;
  height: 50%;
  margin: 0 5px;

}

@media screen and (max-width: 856px) {
  footer {
    flex-direction: column-reverse;
    width: 100%;
    padding: 10px 0;
  }
  .footer-content {
    margin: 5px 0;
  }
}